
version: "3.8"

services:
  vote:
    build: ./vote
    ports:
      - "5000:5000"
    depends_on:
      - redis

  result:
    build: ./result
    ports:
      - "5001:5001"
    depends_on:
      - redis

  redis:
    image: redis:alpine
