apiVersion: apps/v1          # Kubernetes API version for Deployment resource
kind: Deployment             # Resource type we are creating (Deployment)

metadata:
  name: vote-app             # Name of the deployment

spec:
  replicas: 2                # Number of pod copies to run

  selector:                  # How deployment finds pods it manages
    matchLabels:
      app: vote-app          # Must match pod labels below

  template:                  # Template used to create pods
    metadata:
      labels:
        app: vote-app        # Label applied to pods

    spec:
      containers:            # Container details inside pod
      - name: vote-app       # Container name
        image: infravyom/vote-flask-app:1.1  # Docker image from Docker Hub
        ports:
        - containerPort: 80  # Container listens on port 80
